body{
    background: #e0e2db;
  }

.input-control input {
  border: 2px solid #e0e2db;;
  border-radius: 4px;
}

.input-control.error input {
  border-color: #5f7470;
}

.input-control.error div {
  color: #5f7470;
  font-size: 12px;
}

.navbar{
  background: #5f7470;
}

.location-input input{
  border: 2px solid #e0e2db;;
  border-radius: 4px;
}

.brand {
  width: 50px;
  height: 50px;
}

.content{
  padding: 10px;
}

.col{
  padding: 5px;
  border: solid 3px black;
  border-radius: 20px;
  margin-bottom: 10px;
}

.image{
  width: 100%;
  height: 1000px;
  border-radius: 20px;
}

.col-100{
  width: 100%;
}

.col-100 h3{
  font-weight: bold;
  font-size: 30px;
}

.col-100 p{
  font-size: 25px;
}

.threads{
  margin-left: 10px;
  margin-bottom: 10px;
}




.input-label{
  font-weight: bold;
  display: flex;
  margin-left: 25%;
  margin-bottom: 5px;
  
}

.user-input{
  margin-left: 25%;
  margin-bottom: 15px;
  width: 50%;
}

.input-button{
  display: flex;
  margin-left: 25%;
  vertical-align: middle;
  align-items: center;
}

.output{
  border: solid 3px black;
  border-radius: 20px;
  padding: 5px;
  margin-top: 10px;
  max-width: 100%;
  overflow-wrap: break-word;
  margin-left: 5px;
  margin-right: 5px;
}




/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 15vh;
  background: #b8bdb5;
  background-size: cover;
  position: relative;
  margin-bottom: 15px;
}
#hero:before {
  content: "";
  background: #b8bdb5;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
#hero .container {
  position: relative;
  margin-left:1%;
}
#hero h1 {
  margin: 0;
  font-size: 38px;
  font-weight: 700;
  line-height: 56px;
  color: #222222;
  font-family: "Poppins", sans-serif;
}
#hero h1 span {
  color: #106eea;
}
#hero h2 {
  color: #555555;
  margin: 5px 0 30px 0;
  font-size: 24px;
  font-weight: 400;
}@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}
@media (max-width: 768px) {
  #hero {
    height: 20vh;
  }
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }

  .col-100{
    width: 100%;
  }


.col-100 h3{
  font-weight: bold;
  font-size: 30px;
}

.col-100 p{
  font-size: 25px;
}

.image{
  width: 100%;
  height: 100%;
  border-radius: 20px;
}


}
@media (max-height: 500px) {
  #hero {
    height: 120vh;
  }
}
